body {
    background-color: black;
    margin: 0;
    padding: 0;
}

section {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
    display: block;
}

a:hover {
    color: #d5e33e;
}

p {
    color: white;
    
}

small {
    color: white;
}

h1 {
    color: white;
    
}

.top-navbar {
    background: transparent;
    z-index: 9;
    min-height: 80px;
    align-items: center;
    background-color: transparent;
    display: grid;
}

.nombre-logo {
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin-left: 10px;
}

.top-navbar .container-topnav {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
}

.top-navbar .elementos-header {
    align-items: center !important;
    justify-content: space-between;
    padding: 0 20px;
    display: flex;
    margin-top: 10px;
    z-index: 3;
}

.nav-item {
    padding: 10px;
    color: white;
}

.nav-item-login {
    color: white;
}

.nav-item-login a:hover {
    color: #d5e33e;
}

.nav-item-login .btn svg {
    fill: white !important;
    min-width: 20px;
}

.container-section1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    min-height: calc(100vh - 92px);
    background-size: cover;
    z-index: 2;
}
.video-container{
    position: relative;
    overflow: hidden;
    
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10000;
    /* Asegura que el video esté detrás del contenido */
}

.line-title {
    width: 100%;
    border: 5px#f2f526 solid;
    background-color: #f2f526;
    width: 70px;
    margin: 0 auto;
    opacity: 1;
    margin-bottom: 5px;

}

.texto-principal {
    width: 100%;
    margin-top: auto !important;
    text-align: center;
    padding: 0 20px;
}

.texto-principal h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
}

.modal-content {
    margin-top: 25px;
    background: transparent;
    backdrop-filter: blur(12px);
    color: white;
    min-height: 500px;
    border: 1px solid #000000;
    background-color: rgb(0,0, 0, 0.7);

}

.modal-dialog {
    max-width: 500px;
    margin-top: -1vh;
}

.modal-backdrop {
    background-color: rgba(230, 223, 85, 0.9) !important;
    display: none !important;
}


.modal-header {
    background: rgba(178, 190, 0, 0.9);
    color: rgb(255, 255, 255);
}

.btn-login {
    background-color: black;
    color: white;
}
.header{
    border: solid 5px yellow
}
.btn-login:hover {
    background-color: #d5e33e;
    color: #000000;
    border-color: #80882c;
}

.btn-close {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.linkRegister{
    display: flex;
    align-items: center;
}

.form-label {
    color: white;
}

.titleClubbing {
    position: relative;
    top: 5px;
    margin-top: 10px;
    height: 10px;
    width: 50%;
    width: 200px;
    margin: 0 auto;
    opacity: 1;
    margin-bottom: 100px;
}

.line-title-clubbing {
    top: 5px;
    width: 100%;
    border: 5px#ea56de solid;
    background-color: #ea56de solid;
    width: 70px;
    margin: 0 auto;
    opacity: 1;
    margin-bottom: 30px;
}

.club1 {
    background-color:#605f66 ;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 150px;
    top: 160px;
    margin-top: 30px;
    width: 80%;
    height: 150px;
    opacity: 1;
    margin-bottom: 5px;    
}
.club1-text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 20px;
    text-align: start;
    color: rgb(237, 235, 235);
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 2px;
    text-decoration: double;
}

.btnclub{
    position: absolute;
    color: white;
    background-color: black;
    align-self: end;
    left: 85%
}

.contenedor-conciertos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.concierto {
    background: #605f66;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.concierto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.concierto h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
    font-size: 18px;
    color: #000000;
}

.event {
    background-color:#605f66 ;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 150px;
    top: 160px;
    margin-top: 30px;
    width: 80%;
    height: 150px;
    opacity: 1;
    margin-bottom: 5px; 
}

.event-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 20px;
    text-align: start;
    color: rgb(237, 235, 235);
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 2px;
    text-decoration: double;
}

.event-description {
    margin-right: 20px;
}

.title-events {
    display: flex;
    position: relative;
    top: 5px;
    margin-top: 10px;
    height: 10px;
    width: 50%;
    width: 200px;
    margin: 0 auto;
    opacity: 1;
    margin-bottom: 100px;
}