body {
    background-color: black;
    margin: 0;
    padding: 0;
}

section {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
    display: block;
}

a:hover {
    color: #ff00ea;
}

p {
    color: white;
    
}

small {
    color: white;
}

h1 {
    color: white;
    
}

.top-navbar {
    background: transparent;
    z-index: 9;
    min-height: 80px;
    align-items: center;
    background-color: transparent;
    display: grid;
}

.nombre-logo {
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin-left: 10px;
}

.top-navbar .container-topnav {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
}

.top-navbar .elementos-header {
    align-items: center !important;
    justify-content: space-between;
    padding: 0 20px;
    display: flex;
    margin-top: 10px;
    z-index: 3;
}

.nav-item {
    padding: 10px;
    color: white;
}

.nav-item-login {
    color: white;
}

.nav-item-login a:hover {
    color: #d5e33e;
}

.nav-item-login .btn svg {
    fill: white !important;
    min-width: 20px;
}

.container-section1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    min-height: calc(100vh - 92px);
    background-size: cover;
    z-index: 2;
}
.video-container{
    position: relative;
    overflow: hidden;
    
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10000;
    /* Asegura que el video esté detrás del contenido */
}

.line-title {
    width: 100%;
    border: 5px#f2f526 solid;
    background-color: #f2f526;
    width: 70px;
    margin: 0 auto;
    opacity: 1;
    margin-bottom: 5px;

}

.texto-principal {
    width: 100%;
    margin-top: auto !important;
    text-align: center;
    padding: 0 20px;
}

.texto-principal h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
}

.modal-content {
    margin-top: 25px;
    background: transparent;
    backdrop-filter: blur(12px);
    color: white;
    min-height: 500px;
    border: 1px solid #000000;
    background-color: rgb(0,0, 0, 0.7);

}

.modal-dialog {
    max-width: 500px;
    margin-top: -1vh;
}

.modal-backdrop {
    background-color: rgba(230, 223, 85, 0.9) !important;
    display: none !important;
}


.modal-header {
    background: rgba(178, 190, 0, 0.9);
    color: rgb(255, 255, 255);
}

.btn-login {
    background-color: black;
    color: white;
}
.header{
    border: solid 5px yellow
}
.btn-login:hover {
    background-color: #d5e33e;
    color: #000000;
    border-color: #80882c;
}

.btn-close {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.linkRegister{
    display: flex;
    align-items: center;
}

.form-label {
    color: white;
}

.titleClubbing {
    text-align: center;
    position: relative;
    top: 5px;
    margin-top: 10px;
    height: 10px;
    margin: 0 auto;
    opacity: 1;
    margin-bottom: 100px;
}

.line-title-clubbing {
    border: 5px #ff00ea solid;
    background-color: #ff00ea; /* Corrección del background-color */
    margin-top: 10px;
    width: 75px;
    margin: 0 auto;
    opacity: 1;
    margin-bottom: 30px;
    padding-right: 0px; 
    display: block; /* No es necesario flex aquí */
}

.club1 {
    background-color:#605f66 ;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 150px;
    top: 160px;
    margin-top: 30px;
    width: 80%;
    height: 150px;
    opacity: 1;
    margin-bottom: 5px;    
}
.club1-text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 20px;
    text-align: start;
    color: rgb(237, 235, 235);
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 2px;
    text-decoration: double;
}

.btnclub{
    position: absolute;
    color: white;
    background-color: black;
    align-self: end;
    left: 85%
}

.contenedor-conciertos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.concierto {
    background: #605f66;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.concierto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.concierto h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
    font-size: 18px;
    color: #000000;
}

.event {
    background-color:#605f66 ;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 150px;
    top: 160px;
    margin-top: 30px;
    width: 80%;
    height: 150px;
    opacity: 1;
    margin-bottom: 5px; 
}

.event-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 20px;
    text-align: start;
    color: rgb(237, 235, 235);
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 2px;
    text-decoration: double;
}

.event-description {
    margin-right: 20px;
}

.headEventosContainer {
    margin-left:40px;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction:column;
}

.h1.titleEventos {

    position: relative;
    top: 5px;
    margin-top: 10px;
    height: 10px;
    width: 50%;
    width: 200px;
    margin: 0 auto;
    opacity: 1;
    margin-bottom: 100px;
}

/***********************************
            CSS PARA CONTACTANOS

************************************/


.container-contactanos{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}
input, textarea {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 5px;
}
button {
    background: #ff00ea;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background: #ff00ea9a;
}
.social-links a {
    margin: 10px;
    text-decoration: none;
    color: #ff00ea;
}
.social-links a:hover {
    text-decoration: underline;
}

/***********************************
            CSS PARA DETALLE 

************************************/


@font-face {
    font-family: 'Skrappa-bold';
    src: url('./fonts/SK.woff') format('woff'); /* Usa ./ en lugar de .. */
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sans Custom';
    src: url('./fonts/Sans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.containerDetail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px ; 
    margin-left: 40px ; 
}

.headDetailEvent {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    margin-top: 20px;
}

.titleDetailEvent{
    font-size: 100px;
    font-weight: 500;
    text-shadow: #605f66 3px 3px 3px;
    color: white;
    font-stretch: extra-condensed !important;
    font-family: 'Skrappa-bold' , 'Sans Custom', sans-serif;
}

.subtitleDetailEvent{
    font-size: 50px;
    font-weight: 300;
    color: white;
    font-stretch: extra-condensed !important;
    font-family: 'Skrappa-bold' , 'Sans Custom', sans-serif;
}

.singleElement.title{
    font-size: 15px;
    font-weight: bold;
    color: white;
    font-stretch: extra-condensed !important;
    font-family: Arial, Helvetica, sans-serif
}

.buttonDetailEvent {
    width: 100px;
    background-color: #d5e33e;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
}

.btn-change8{
    margin-top:10px ; 
    font-weight: bold;
    height: 50px;
    width: 100px;
    background: #d5e33e;
    float: left;
    border:0px;
    color: black; 
    box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    box-shadow:0px 0 0 #faffc7 inset;
}
.btn-change8:hover{
    -webkit-box-shadow: -100px 0 0 #fcfb9b inset;
}

.detailContent {
    display: flex;
    flex-wrap: wrap;
}

.pictureAndDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px; 
    width: 30%;
}

.pictureDetailEvent {
    width: 40%;
    border-radius: 10px;
    margin-right: 100px;
}


 /*         SECCION 2 : COMENTARIOS .... */

.section_3 {
    margin-top: 40px;
}

.container-section3{
    display:flex;
    flex-direction:column;
}
.container-btn-comment{
    margin-left: 50px;
}

.btn-comentario{
    width: fit-content;
    font-weight: bold;
}
.comments-title {
    text-decoration: underline;
    font-size: 2rem;
    line-height: 1.25;
    font-weight: 400;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    margin-left: 50px;
    margin-right: 150px;
    margin-bottom: 20px;
}

.container-comments {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    padding-top: 0px;
    min-height: calc(100vh - 92px);
    z-index: 2;
    margin: 50px; 
}

.comment-post {
    padding: 10px;
    width: 200px;
    height: 200px;
    background-color: rgb(75, 75, 75);
}

.comment-post_user {
    font-weight: bold;
}

/*         MODAL */
.modal-content {
    margin-top: 25px;
    background: transparent;
    backdrop-filter: blur(12px);
    color: white;
    min-height: 500px;
    border: 1px solid #000000;
    z-index: 11000;
    background-color: rgb(0, 0, 0,0.7);

}

.modal-dialog {
    max-width: 500px;
    margin-top: -1vh;
}

.modal-backdrop {
    background-color: #d5e33e !important;
    display: none !important;
}


.modal-header {
    background: rgba(146, 157, 25, 0.9);
    color: rgb(255, 255, 255);
}


.btn-login {
    background-color:black;
    color: white;
}

.btn-login:hover {
    background-color: #d5e33e;
    color: #000000;
    border-color: #80882c;
}

.btn-close {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.btn-publicar
{
    background-color: #d5e33e;
    color: black;
    border-color: #d5e33e;
}

.btn-publicar:hover{
    background-color: black;
    color: white;
    border-color: black;
}
.star-rating {
    direction: rtl;
    display: inline-block;
    cursor: pointer;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #ddd;
    font-size: 24px;
    padding: 0 2px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.star-rating label:hover,
.star-rating label:hover~label,
.star-rating input:checked~label {
    color: #ffc107;
}

/***************************************************

            CSS PARA EL ERROR

****************************************************/

.errorDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    color: white;
}

.alert.alert-danger.errorMessage{
    margin-top: 20px;
}

/***************************************************

            CSS PARA EL MYDATA

****************************************************/

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; /* Controla la distancia desde los bordes */
    gap: 200px;
}

.box {
    width: 40%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#events {
    margin-left: auto;
}

#comments {
    margin-right: auto;
}

.main-container {
    display: flex; /* Activa el modelo flexbox */
    justify-content: space-between; /* Separa los elementos */
    align-items: flex-start; /* Alinea los elementos arriba */
}

.data-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 20px;
    margin-top: 40px;  /* Ajuste el margen superior para dar espacio entre los eventos y los tickets */
    margin-left: 300px;
    clear: both;  /* Asegura que se coloque debajo de los elementos anteriores */
}

.ticket {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 250px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.ticket:hover {
    transform: scale(1.05);
}

.ticket img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.ticket h3 {
    margin-top: 15px;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.ticket p {
    margin-top: 5px;
    font-size: 1em;
    color: #555;
}

.container-comments {
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 20px;
    margin-top: 40px;  /* Ajuste el margen superior para dar espacio entre los eventos y los tickets */
    margin-right: 300px;
    clear: both;  /* Asegura que se coloque debajo de los elementos anteriores */
}

.comment {
    background-color: #272020d0;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 250px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}