<!DOCTYPE html>
<body lang="en">

{{>header}}

<section class="section-1" id="section_1">
    <div class="container-section1">
        <div class="row">
            <div class="texto-principal">
                <h1>ALASDOCE</h1>
                <hr class="line-title-clubbing" href="#">
                </hr>
                <p>El comentario ha sido eliminado</p>
                <a class="top-nav-/home" href="/">Aceptar</a>
            </div>
        </div>
    </div>
</section>
{{>footer}}

</body>

</html>