<!DOCTYPE html>
<html lang="en">

{{>header}}

<section class="detailContent">
    <div class="containerDetailGrid">
        <!-- Columna izquierda -->
        <div class="leftColumn">
            <h1 class="titleDetailEvent">{{event.title}}</h1>
            <h2 class="subtitleDetailEvent">{{event.type}}</h2>

            <div class="eventDetailsGroup">
                <div class="eventDetail">
                    <p class="eventDetailLabel">Fecha y hora</p>
                    <p class="eventDetailValue">{{event.timeStartFormat}} — {{event.timeFinishFormat}}</p>
                </div>

                <div class="eventDetail">
                    <p class="eventDetailLabel">Dirección</p>
                    <p class="eventDetailValue">{{event.address}}</p>
                </div>

                <div class="eventDetail">
                    <p class="eventDetailLabel">Precio</p>
                    <p class="eventDetailValue">Los menores solo podrán acceder acompañados por un adulto responsable.
                    </p>
                    <p class="eventDetailValue">{{event.price}} &euro;</p>
                </div>
            </div>

            <form action="/buyTicket" method="post">
                <button class="btn-buyTicket">
                    Comprar <i class="bi bi-ticket-perforated-fill ticket-icon"></i>
                </button>
                <input type="hidden" name="eventID" value="{{event.id}}">
                <input type="hidden" name="_csrf" value="{{token}}" />
            </form>
        </div>

        <!-- Columna derecha -->
        <div class="rightColumn">
            <p class="extendedDescription">{{event.description}}</p>
            <div class="practicalInfo">
                <h3 class="practicalInfoTitle">Información práctica</h3>
                <ul class="practicalInfoList">
                    <li>La entrada solamente garantiza el acceso hasta la hora de inicio de la primera actividad.</li>
                    <li>El acceso de público se realizará exclusivamente por la entrada principal habilitada.</li>
                    <li>Se establecerá un control de seguridad privada para acceder al recinto.</li>
                    <li>Habrá un acceso especial para personas con movilidad reducida (PMR).</li>
                    <li>La salida del recinto se efectuará únicamente por la zona delimitada para ello.</li>
                </ul>
            </div>

            <img class="imageDetailEvent" src="/event-image/{{event.id}}" alt="{{event.title}}">

        </div>
    </div>
</section>

<!-- SECTION 2 : COMMENTS -->
<section class="comments-section">
    <div class="comments-container">
      <div class="comments-header">
        <h2>Comentarios</h2>
        <button class="btn-add-comment" type="button" data-bs-toggle="modal" data-bs-target="#modalComentario">
          Añadir comentario
        </button>
      </div>
  
      <div class="comments-list">
        {{#comment}}
        <div class="comment-item">
          <div class="comment-user">
            <small>Usuario</small>
            <p>{{autor}}</p>
          </div>
          <div class="comment-message">
            <p>{{text}}</p>
          </div>
          <div class="comment-score">
            <span class="stars">{{{rating}}}</span>
          </div>
        </div>
        {{/comment}}
      </div>
    </div>
    <div >
        <button id="moreBTN" class="btn-buyTicket" style="margin: 0 auto; background-color: #ff4d4d; color: white; border: none; padding: 10px 20px; font-size: 16px; cursor: pointer;">
            More Events
        </button>
    </div>
  </section>
  <script>
    let currentPage = 1; 
    const pageSize = 10;
  
    document.getElementById("moreBTN").addEventListener("click", async () => {
  
      
  
        const res = await fetch(`/api/comments/event/{{event.id}}?page=${currentPage}&size=${pageSize}`);
        const data = await res.json();
       
        
  
        const container = document.querySelector(".comments-list");
  
        if (!data.content || data.content.length === 0) {
        console.log("No hay más comentarios para mostrar.");
        document.getElementById("moreBTN").style.display = "none";
        return;
      }
        data.content.forEach(comment => {
            const dis = document.createElement("div");
            dis.className = "comment-item";
            dis.innerHTML = `
                <div class="comment-user">
                    <small>Usuario</small>
                    <p>${comment.autor}</p>
                </div>
                <div class="comment-message">
                    <p>${comment.text}</p>
                </div>
                <div class="comment-score">
                    <span class="stars">${comment.rating}</span>
                </div>
            `;
            container.appendChild(dis);
        });
        currentPage++;
        if (data.page.number >= data.page.totalPages - 1) {
          document.getElementById("moreBTN").style.display = "none";
          document.getElementById("moreBTN").style.visibility = "hidden"; // extra
          document.getElementById("moreBTN").disabled = true; // extra
        }
    });

    </script>

<!-- MODAL COMMENT -->

<div class="modal fade" id="modalComentario" tabindex="-1" aria-labelledby="modalComentario" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="titulo-comment">Añadir comentario</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form action="/comment_in" method="post">
                    <input type="hidden" name="eventID" value="{{event.id}}">
                    <div class="mb-2">
                        <div class="star-rating animated-stars">
                            <input type="radio" id="star5" name="rating" value="5">
                            <label for="star5" class="bi bi-star-fill"></label>
                            <input type="radio" id="star4" name="rating" value="4">
                            <label for="star4" class="bi bi-star-fill"></label>
                            <input type="radio" id="star3" name="rating" value="3">
                            <label for="star3" class="bi bi-star-fill"></label>
                            <input type="radio" id="star2" name="rating" value="2">
                            <label for="star2" class="bi bi-star-fill"></label>
                            <input type="radio" id="star1" name="rating" value="1">
                            <label for="star1" class="bi bi-star-fill"></label>
                        </div>
                    </div>
                    <div class="mb-2 ">
                        <label for="inputComentario">Comentario</label>
                        <textarea class="form-control" id="inputComentario" rows="3" name="text"></textarea>
                    </div>
                    <button type="submit" class="btn btn-publicar">Publicar</button>
                    <input type="hidden" name="_csrf" value="{{token}}" />
                </form>
            </div>
        </div>
    </div>
</div>

{{>footer}}

</body>

</html>