<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AFTERMIDNIGHT</title>
   
    <link rel="stylesheet" href="/css/stylesheet.css">
   
</head>

<body>

    <!--PAGE HEADER (EXTRAPOLABLE)-->
    <nav class="top-navbar">
        <div class="container-topnav">
            <ul class="elementos-header align-items-lg-center ms-auto me-lg-5" id="elementos-cabecera">
                <li class="nav-item">
                    <a class="top-nav-/home" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="top-nav-clubbing" href="/clubbing">Clubbing</a>
                </li>
                <li class="nav-item">
                    <a class="top-nav-conciertos" href="/concerts">Conciertos</a>
                </li>
                <li class="nav-item">
                    <a class="top-nav-festivales" href="/festivals">Festivales</a>
                </li>
                <li class="nav-item">
                    <a class="top-nav-contactanos" href="/contact">Contactanos</a>
                </li>
                <li class="nav-item-login">
                    {{#isUserLogged}}
                        {{#isAdmin}}
                        <li class="nav-item">
                            <a class="top-nav-section_5" href="/admin/">
                                {{userLogged.name}}
                            </a>
                        </li>
                        {{/isAdmin}}
                        {{^isAdmin}}
                        <li class="nav-item">
                            <a class="top-nav-section_5" href="/profilePage">
                                {{userLogged.name}}
                            </a>
                        </li>
                        {{/isAdmin}}
                    {{/isUserLogged}}

                    {{^isUserLogged}}
                    <li class="nav-item-login">
                        <a href="/login" class="btn" type="button" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="auto" height="20" fill="currentColor"class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                            </svg>
                        </a>
                    </li>
                    {{/isUserLogged}}
                </li>
            </ul>
        </div>
    </nav>