<!DOCTYPE html>
<html lang="es">

{{>header}}
 <!-- Video background -->
        
 <section class="section-1" id="section_1">
    <div class="container-section1">
        <div class="row">

            <div class="texto-principal">
                <h1>ALASDOCE</h1>
                <hr class="line-title" href="#">
                </hr>
                <p>¡Elige pasar tu mejor noche!</p>

            </div>
        </div>
    </div>
    <div class="img">
        <video autoplay muted loop id="bg-video">
            <source src="img/backgroundVid.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="overlay"></div>

    </div>

</section>
<!--Fin video background-->
{{>footer}}

</html>