<!DOCTYPE html>
<html lang="es">

{{>header}}

<section class="section-1" id="section_1">
    <div class="texto-principal">
        <h1>ALASDOCE</h1>
        <hr class="line-title-clubbing" href="#">
        </hr>

    </div>
    <div class="container-section1">
        <form action="/authenticate" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
                <input type="text" class="form-control" name="email" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3 ">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" name="password" required>
            </div>
            <div class="d-flex align-items-center margenGrande">
                <button type="submit" value="Sign in" class="btn btn-login me-2">Confirmar</button>
                <div class="d-flex align-items-center">
                    <a href="/register" class="switch-modal">
                        <span style="color: white;">
                            Si aún no tienes cuenta,
                        </span>
                        Regístrate aquí
                    </a>
                </div>
            </div>
        </form>
    </div>
</section>

{{>footer}}

</html>