<!DOCTYPE html>
<html lang="en">
{{>header}}

    <div class="titleClubbing">
        <h1>MIS DATOS</h1>
        <hr class="line-title-clubbing" href="#">
        </hr>
    </div>

    <div class="container">
        <div id="events" class="box">
            <h2>Mis tickets</h2>
        </div>
        <div id="comments" class="box">
            <h2>Mis comentarios</h2>
        </div>
    </div>
    
    <div class="main-container">
        <div class="data-container">
            <button class="ticket">
                <img src="img/al safir.jpg" alt="al safir">
                <h3>Al safir</h3>
                <p>Precio: 20</p>
                <p>27 de febrero de 2025, 23:00</p>
                <p>ABIERTO</p>
            </button>
            <button class="ticket">
                <img src="img/liberata.png" alt="liberata">
                <h3>Liberata</h3>
                <p>Precio: 20</p>
                <p>25 de febrero de 2025, 23:00</p>
                <p>CERRADO</p>
            </button>
        </div>
    
        <div class="container-comments">
            <div class="comment">
                <div class="comment-post_user">
                    <p>Autor</p>
                </div>
                <div class="comment-post_content">
                    <p>Texto</p>
                </div>
                <div class="comment-post_valoration">
                    <p>3</p>
                </div>
            </div>
            <div class="comment">
                <div class="comment-post_user">
                    <p>Autor</p>
                </div>
                <div class="comment-post_content">
                    <p>Texto</p>
                </div>
                <div class="comment-post_valoration">
                    <p>3</p>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}

</body>


</html>

