<!DOCTYPE html>
<html lang="en">
  <body>

    {{>header}}

    <section class="section-1" id="section_1">
      <div class="container-section1">
        <div class="row">
          <div class="texto-principal">
            <h1>{{title}}</h1>
            <hr class="line-title-clubbing" href="#" />
            <p>{{message}}</p>           
            <a class="top-nav-/home" href="{{linkUrl}}">{{linkText}}</a>
          </div>
        </div>
      </div>
    </section>

    {{>footer}}

  </body>
</html>
