<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALASDOCE</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700&display=swap" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="../css/stylesheet.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/isotope/3.0.6/isotope.pkgd.min.css">

</head>

<script>
    function showTab(tabId, element) {
        // Ocultar todas las pestañas
        document.querySelectorAll('.content-tab').forEach(tab => {
            tab.style.display = 'none';
        });

        // Mostrar la pestaña seleccionada
        document.getElementById(tabId).style.display = 'block';

        // Eliminar la clase activa de todas las pestañas del menú
        document.querySelectorAll('.nav-link').forEach(link => {
            link.classList.remove('active');
        });

        // Agregar la clase activa a la pestaña actual
        element.classList.add('active');
    }
</script>

<body>

    <!--PAGE HEADER (EXTRAPOLABLE)-->
    <nav class="top-navbar">
        <div class="container-topnav">
            <ul class="elementos-header align-items-lg-center ms-auto me-lg-5" id="elementos-cabecera">
                <li class="nav-item">
                    <a class="top-nav-/home" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="top-nav-clubbing" href="/clubbing">Clubbing</a>
                </li>
                <li class="nav-item">
                    <a class="top-nav-conciertos" href="/concerts">Conciertos</a>
                </li>
                <li class="nav-item">
                    <a class="top-nav-festivales" href="/festivals">Festivales</a>
                </li>
                <li class="nav-item">
                    <a class="top-nav-contactanos" href="/contact">Contactanos</a>
                </li>
                <li class="nav-item-login">
                    {{#isUserLogged}}
                    <li class="nav-item">
                        <a class="top-nav-section_5" href="/profilePage">
                            {{userLogged.name}}
                        </a>
                    </li>
                    {{/isUserLogged}}

                    {{^isUserLogged}}
                    <li class="nav-item-login">
                        <a href="/login" class="btn" type="button" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="auto" height="20" fill="currentColor"class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                            </svg>
                        </a>
                    </li>
                    {{/isUserLogged}}
                </li>
            </ul>
        </div>
    </nav>

<ul class="nav nav-tabs justify-content-center mt-4">
    <li class="nav-item">
        <a class="nav-link active" href="#" onclick="showTab('perfil', this)">Perfil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="showTab('activity', this)">Actividad</a>
    </li>
</ul>

<!-- PROFILE PAGE (changed for profile.html) -->
<div id="perfil" class="content-tab">
    <section class="section-1" id="section_1">
        <div class="container-profile-data">
            <div class="container-profile-info">
                <div class="container-profile-img">
                    <!-- Maybe a profile img -->
                </div>
                <div class="container-profile-data">
                    <h1 class="profile-name">Mi perfil</h1>
                    <p class="profile-username">Nombre:</p>
                        <span>{{client.name}}</span>
                    <p class="profile-username">Apellidos: </p>
                        <span>{{client.lastName}}</span>
                    <p class="profile-username">Correo electrónico: </p>
                        <span>{{client.email}}</span>
                    <div class="butcontainer">
                        <form action="/editprofilepage" method="get">
                            <button type="submit" class="btn btn-login me-2">Editar perfil</button>
                        </form>
                        <form action="/logout" method="post">
                            <input type="submit" class="btn btn-login me-2" value="Sign out"/>
                        </form>
                        {{#isAdmin}}
                        <form action="/admin" method="get">
                            <button type="submit" class="btn btn-login me-2">Página de administrador</button>
                            
                        </form>
                        {{/isAdmin}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



<!-- PESTAÑA ACTIVIDAD (tickets + comentarios) -->
<div class="container-tickets">
    <div id="activity" class="content-tab activity" style="display: none;">
        <div class="row">
            {{#tickets}}
            <div class="col-12 mb-3">
                <div class="card text-white">
                    <img class="card-img" src="/img/{{title}}.jpg" alt="{{title}}">
                    <div class="card-img-overlay d-flex flex-column justify-content-between">
                        <div>
                            <h5 class="card-title">{{title}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            {{/tickets}}
            {{^tickets}}
            <p>No tienes tickets comprados aún.</p>
            {{/tickets}}
        </div>

        <!-- Sección de comentarios -->
        <div class="container-comments-mydata mt-5">
            <h3>Mis comentarios</h3>
            {{#comments}}
            <div class="comment">
                <div class="comment-post_user">{{autor}}</div>
                <div class="comment-post_content"><p>{{text}}</p></div>
                <div class="comment-post_valoration"><p>{{{rating}}}</p></div>
                <div class="comment-actions">
                    <form action="/comment_out/{{id}}/{{title}}" method="POST">
                        <button type="submit" class="delete-comment">Eliminar</button>
                    </form>
                </div>
            </div>
            {{/comments}}
            {{^comments}}
            <p>No has hecho ningún comentario aún.</p>
            {{/comments}}
            
        </div>
    </div>
</div>


<script src="/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">



</body>

</html>