<!DOCTYPE html>
<body lang="en">

{{>header}}
        
<section class="section-1" id="section_1">
    <div class="texto-principal">
        <h1>ALASDOCE</h1>
        <hr class="line-title-clubbing" href="#">
        </hr>
        
    </div>
    <div class="container-section1">
     
                    <form action="/sign-in" method="post">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
                            <input type="email" class="form-control" name="email" aria-describedby="emailHelp" required>
                        </div>
                        <div class="mb-3 ">
                            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" name="password" required>
                        </div>
                        <div class="d-flex align-items-center margenGrande">
                            <button type="submit" class="btn btn-login me-2">Confirmar</button>
                            <div class="d-flex align-items-center">
                                <a href="#" class="switch-modal" data-bs-toggle="modal" data-bs-target="#modalSingUp">
                                    <span style="color: white;">
                                        Si aún no tienes cuenta,
                                    </span>
                                    Regístrate aquí
                                </a>
                            </div> 
                        </div>
                    </form>
    </div>
         
    <!-- Fin Modal de login-->
</section>

{{>footer}}

</body>

</html>