<!DOCTYPE html>
<html lang="en">

{{>header}}

    <div class="titleClubbing">
        <h1 class="titleEventos">CONTACTANOS</h1>
        <hr class="line-title-clubbing"></hr>
    </div>    

    <div class="container">
        <p>¿Tienes alguna pregunta o sugerencia? ¡Escríbenos!</p>

        <form action="tu_script_de_procesamiento.php" method="POST">
            <input type="text" name="nombre" placeholder="Tu nombre" required>
            <input type="email" name="email" placeholder="Tu correo electrónico" required>
            <textarea name="mensaje" rows="5" placeholder="Escribe tu mensaje aquí..." required></textarea>
            <button type="submit">Enviar</button>
        </form>
        <p></p>
        <p>Email: </p>
        <p><a href="mailto:alasdocecontacto@gmail.com">alasdocecontacto@gmail.com</a></p>
        <p>Teléfono: </p>
        <p>+54 11 4312-5678</p>
        <p>Dirección: </p>
        <p>[Avenida San Martín 453, 2º Piso, Oficina 6, Buenos Aires, Argentina, CABA, CP 1400.]</p>

        <div class="social-links">
            <a href="https://www.facebook.com/ALASDOCE">Facebook</a> 
            <a href="https://www.instagram.com/ALASDOCE">Instagram</a> 
            <a href="https://x.com/ALASDOCE">Twitter/X</a>
        </div>
        
    </div>



{{>footer}}
</html>