<!DOCTYPE html>
<html lang="en">

{{>header}}

<div class="headEventosContainer">
    <h1 class="titleEventos">EVENTOS</h1>
    <hr class="line-title-clubbing"></hr>
</div>

    <div class="event">
        <div class="img">
            <img src="img/madCool2025.jpg" height="150px" width="185px" alt="Event 1">
        </div>
        
        <div class="event-text">
            <h2>MAD COOL 2025</h2>
            <p>Espacio Iberdrola Music</p>
            <p class="event-description">Uno de los festivales musicales más importantes del mundo se celebra en el espacio Iberdrola Music en su octava edición
                con grandes grupos y artistas del panorama musical</p>
            <p>Se celebra del 10 al 12 de julio de 2025</p>
        </div>
        <button type="button" class="btnclub">Ver más</button>
    </div>

    <div class="event">
        <div class="img">
            <img src="img/madridSalvaje.jpg" height="120px" width="175px" " alt="Event 2">
        </div>
        <div class="event-text">
            <h2>MADRID SALVAJE</h2>
            <p>Ifema Madrid</p>
            <p class="event-description">IFEMA MADRID se convierte en punto de encuentro de la música urbana durante dos días de festival, 
                con artistas de rap y trap del país actuando en varios escenarios. Todo ello acompañado de exhibiciones de skate, 
                graffiti, foodtrucks y mucho más...</p>
            <p>Se celebra del 26 al 27 de septiembre de 2025</p>
        </div>
        <button type="button" class="btnclub">Ver más</button>
    </div>

    <div class="event">
        <div class="img">
            <img src="img/blackworks.jpg" height="150px" width="175px" " alt="Event 3">
        </div>
        <div class="event-text">
            <h2>BLACKWORKS</h2>
            <p>Ifema Madrid</p>
            <p class="event-description">Con esta edición, Blackworks propone una experiencia introspectiva que combina lo mejor de la música electrónica 
                con un enfoque en el espíritu colectivo. La producción de este año será innovadora, con escenarios impactantes 
                y una propuesta audiovisual inmersiva que incluye instalaciones interactivas y visuales únicas.</p>
            <p>Se celebra del 14 al 15 de marzo de 2025</p>
        </div>
        <button type="button" class="btnclub">Ver más</button>
        
    </div>

    <div class="event">
        <div class="img">
            <img src="img/rioBabel.jpg" height="150px" width="175px" " alt="Event 4">
        </div>
        <div class="event-text">
            <h2>RIO BABEL</h2>
            <p>Caja Mágica de Madrid</p>
            <p class="event-description">Un heterogéneo festival de música iberoamericana que contará con la presencia de grupos y artistas nacionales
                e internacionales como es el caso de Kase.O, uno de los mayores referentes del hip hop en español, el grupo
                de hip hop Cypress Hill, el dúo español Estopa y la mítica banda británica Madness.</p>
            <p>Se celebra del 4 al 5 de julio de 2025</p>
        </div>
        <button type="button" class="btnclub">Ver más</button>
        
    </div>

    {{>footer}}
</body>

</html>