<!DOCTYPE html>
<html lang="en">

{{>header}}    

<section class="detailContent"> 
    <div class="containerDetail"> 
        <li class="headDetailEvent">
            <h1 class="titleDetailEvent">Ill Pekeño & Ergo Pro</h1>
            <h2 class="subtitleDetailEvent">Concierto</h2>
            <li class="columnElementsEvent">
                <div class="elementDetailEvent">
                    <i class="singleElement title">Fecha</i>
                        <p class="singleElement content">Viernes 12 de Marzo</p>
                </div>
                <div class="elementDetailEvent">
                    <i class="singleElement title">Hora</i>
                        <p>20:00</p>    
                </div>
                <div class="elementDetailEvent">
                    <i class="singleElement title">Precio</i>
                        <p>20 euros</p>
                </div>
                <button class="btn-change8">Comprar</button>
            </li>
    </div>
    <div class="pictureAndDescription">
        <div class="pictureDetailEvent"> 
        <img src="img/ill_pekeno_ergo_pro.jpg" alt="Ill Pekeño & Ergo Pro">
        </div>
    </div>
</section>

{{>footer}}

</body>


</html>