<!DOCTYPE html>
<html lang="en">

{{>header}}    

<section class="detailContent"> 
    <div class="containerDetail"> 
        <li class="headDetailEvent">
            <h1 class="titleDetailEvent">{{event.title}}</h1>
            <h2 class="subtitleDetailEvent">{{event.type}}</h2>
            <li class="columnElementsEvent">
                <div class="elementDetailEvent">
                    <i class="singleElement title">Fecha y Hora</i>
                        <p class="singleElement content">{{event.timeStartFormat}}  ----  {{event.timeFinishFormat}}</p>
                </div>
                <div class="elementDetailEvent">
                    <i class="singleElement title">Precio</i>
                        <p>{{event.precio}} &euro;</p>
                </div>
                <form action="/saveTicket" method="post">
                    <button class="btn-change8">Comprar</button>
                    <input type="hidden" name="eventID" value="{{event.id}}">
                </form>        
            </li>
    </div>
    <div class="pictureAndDescription">
        <div class="pictureDetailEvent"> 
        <img src="/event-image/{{event.id}}" alt="{{event.title}}" height="250" width="250">
        </div>
    </div>
</section>

<!-- SECTION 2 : COMMENTS -->
<section class="section_3">
    <div class="container-section3">
        <div class="comments-title">
            <h1>Comentarios</h1>
        </div>
        <div class="container-btn-comment">
            <button class="btn-change8 btn-comentario" type="button" data-bs-toggle="modal"
                data-bs-target="#modalComentario">Añadir comentario</button>
        <!-- Modal to add a comment -->
        </div>
        <div class="container-comments">
            {{#comment}}
            <div class="comment-post">
                <div class="comment-post_user">
                    {{autor}}
                </div>
                <div class="comment-post_content">
                    <p>{{text}}</p>
                </div>
                <div class="comment-post_valoration">
                    <p>{{{rating}}}</p>
                </div>
            </div>
            {{/comment}}
        </div>
    </div>
</section>

<!-- MODAL COMMENT -->

<div class="modal fade" id="modalComentario" tabindex="-1" aria-labelledby="modalComentario" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="titulo-comment">Añadir comentario</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form action = "/comment_in" method = "post">
                    <input type="hidden" name="eventID" value="{{event.id}}">
                    <div class="mb-2">
                        <div class="star-rating animated-stars">
                            <input type="radio" id="star5" name="rating" value="5">
                            <label for="star5" class="bi bi-star-fill"></label>
                            <input type="radio" id="star4" name="rating" value="4">
                            <label for="star4" class="bi bi-star-fill"></label>
                            <input type="radio" id="star3" name="rating" value="3">
                            <label for="star3" class="bi bi-star-fill"></label>
                            <input type="radio" id="star2" name="rating" value="2">
                            <label for="star2" class="bi bi-star-fill"></label>
                            <input type="radio" id="star1" name="rating" value="1">
                            <label for="star1" class="bi bi-star-fill"></label>
                        </div>
                    </div>
                    <div class="mb-2 ">
                        <label for="inputComentario">Comentario</label>
                        <textarea class="form-control" id="inputComentario" rows="3" name="text"></textarea>
                    </div>
                    <button type="submit" class="btn btn-publicar">Publicar</button>
                </form>
            </div>
        </div>
    </div>
</div>



{{>footer}}

</body>


</html>